<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/agg2graph_martinus/src/de/fub/agg2graph/ui/gui/TestUI.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="de.fub.agg2graph.ui.gui.TestUI"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="agg2graph_martinus"/>
</launchConfiguration>
